@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contacto";
}
<h1>@ViewData["Title"]</h1>
<h3>Datos personales</h3>
<p>Direccion:.......</p>
<p>Telefono:.......</p>
<p>LinkedIn:.......</p>
<p>Instagram:.......</p>
